<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.julianpeters.timedlists">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="xyz.julianpeters.timedlists.providers.ListsContentProvider"
            android:authorities="xyz.julianpeters.timedlists.providers.ListsContentProvider" />

        <activity
            android:name="xyz.julianpeters.timedlists.activities.main.ListActivityMain"
            android:theme="@style/AppTheme.NoAnimation"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="xyz.julianpeters.timedlists.activities.main.ItemActivity"
            android:theme="@style/AppTheme.NoAnimation"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name="xyz.julianpeters.timedlists.activities.main.ListActivitySub"
            android:theme="@style/AppTheme.NoAnimation"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name="xyz.julianpeters.timedlists.activities.popup.SetRepeatPopup"
            android:theme="@style/AppTheme.PopUpTransparent"/>
        <activity
            android:name="xyz.julianpeters.timedlists.activities.popup.RunMultiplePopUp"
            android:theme="@style/AppTheme.PopUpTransparent"/>
        <activity
            android:name="xyz.julianpeters.timedlists.activities.main.RunActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name="xyz.julianpeters.timedlists.activities.popup.NotePopUp"
            android:theme="@style/AppTheme.PopUpTransparent"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="xyz.julianpeters.timedlists.activities.popup.CopyPopUp"
            android:theme="@style/AppTheme.PopUpTransparent"/>
        <activity
            android:name="xyz.julianpeters.timedlists.activities.popup.SetTimePopUp"
            android:theme="@style/AppTheme.PopUpTransparent"/>

    </application>

</manifest>